<p class="title">This section is supposed to entertain you!</p>

<p class="smiley">🙂</p>

<p>
  The celebrities listed are not OrgaZen customers, there is no OrgaZen product.
  Descriptions are either invented or exaggerated facts.
</p>
<p>However...</p>
<br />

<p class="title">Technically, it is serious business.</p>

<p>
  You see <b>Server Side Rendered</b> content. OrgaZen is powered by
  <b>Angular Universal</b> and served with <b>Nest.js</b>. Search engines can
  index the pages in this section, and each of them is tweetable with a preview.
</p>

<p>
  We first attempted to deploy on Google Cloud Run, but the servers were so slow
  that deployment would time out after 15 minutes. To our great satisfaction,
  Heroku was a viable alternative. Our sincere thanks to the Heroku team for
  making demos like this possible for free, and with minimal setup on our part.
</p>

<p class="footer">&copy; Dvinubius 2021</p>
