:host {
  text-align: center;
  padding: 24px;
}
mat-card {
  max-width: 450px;
  background-color: white;
  margin: 0 auto 10px;
}

.tech {
  font-size: 0.9em;
}

.url-block {
  display: flex;
  align-items: center;
  height: 4em;

  p {
    margin: 0;
    height: 24px;
  }

  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #d78c99;
    margin: 0 12px;
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.1);
    }
  }
  .arrow {
    margin-left: 9px;
    opacity: 0.8;
  }
  a {
    margin-left: auto;
  }
}

.url {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  font-family: "Courier New", Courier, monospace;
}
.back {
  position: absolute;
  left: 50vw;
  top: 88px;
  transform: translateX(calc(-320px - 50%));
}
.details {
  text-align: left;
}
