<button mat-raised-button class="back" routerLink="/customers">BACK</button>
<mat-card class="details" *ngIf="customer | async as cust">
  <mat-card-header>
    <mat-card-title>{{ cust.name }}</mat-card-title>
    <mat-card-subtitle>{{ cust.title }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="cust.image" />
  <mat-card-content>
    <p class="description">
      {{ cust.description }}
    </p>
  </mat-card-content>
</mat-card>
<br />
<br />
<mat-card class="tech">
  <p>
    This page is rendered with Angular Universal, NestJS, and Google Cloud Run.
  </p>
  <p>Our users do a great job at feeling good.</p>
  <p>They deserve this.</p>
  ⭐⭐⭐⭐⭐
  <br />
  <br />
  <div class="paste">Paste URL:</div>
  <div class="url">
    https://orgazen.herokuapp.com/customers/{{ customerId }}
  </div>

  <a
    href="https://cards-dev.twitter.com/validator"
    target="blank"
    mat-stroked-button
    color="accent"
    >Twitter Card Validator</a
  >
</mat-card>
